body{font-size: 12px;margin:0 0; font-family:宋体;background:#deebff}
.STYLE1 {color: #FFFFFF;font-weight: bold;}.dixian {border-top-width: 1px;border-top-style: dashed;border-top-color: #333333;}
a{ color:rgb(102,102,102); font-size:12px; text-decoration:none;}
a:hover{color:black;}
a.lj_a:link {color:#FF6633;text-decoration: none;font-weight: bold;}
a.lj_a:visited {color:#FF6633;text-decoration: none;font-weight: bold;}
a.lj_a:hover {color:#333333;text-decoration: none;font-weight: bold;}
.dx{border: 1px solid #999999;}
.wenzhi { line-height: 25px; }
.STYLE2 {color: #FF0000}