BODY
{
	FONT-SIZE: 12px;
	background:#ffffff;
	color:#016c96;
}
A:visited
{
	text-decoration:none; COLOR: #016c96;
}
A:hover 
{
	 FONT-SIZE: 12px; COLOR:dodgerblue; text-decoration:none;
}
A:link
{
    FONT-SIZE: 12px; COLOR: #016c96; text-decoration:none;
}
.title
{
 font-weight:bold;
 color:royalblue;	
}



